#search_box{
    float: left;
    width: 300px;
    margin-left: 70px;
    padding-bottom: 0px;
}
ul a{
    text-decoration: none;
    margin: 0 auto;
    text-align: center;
}
.header{
    position: sticky;
    top: 0px;
    border: 1px solid lightgray;
    z-index: 5;
    background: white;
    padding-bottom: 13px;
    clear: both;
}
.nav_card{
    margin-right: 70px !important;
}