.product_container{
    margin-bottom: 45px;
}
.product_imgs{
    display: inline-block;
    width: 600px;
    height: 797px;
    /*background: #0dcaf0;*/
    margin-right: 70px;

}
.product_mainImg{
    width: 600px;
    height: 600px;
    margin-bottom: 25px;
}
.product_img_etc{
    width: 112px;
    height: 112px;
    cursor: pointer;
}
.product_info{
    display: inline-block;
    position: absolute;
    width: 470px;
    height: 797px;
    /*background: #198754;*/
}
.item_name {
    font-size: 25px;
    margin-bottom: 100px;
}
.item_price{
    font-size: 25px;
    color: #c80a1e;
    margin-bottom: 60px;
}
.product_count{
    height: 95px;
}
.product_count_num{
    display: inline-block;
    border: 1px solid #AAAAAA;
    box-sizing: border-box;
    font-size: 25px;
    float: right;
    width: 35px;
    text-align: center;
    margin-right: 5px;
}
.count_button{
    display: inline-block;
    background: white;
    border: white;
    position: relative;
    top: 5px;
    float: right;
    margin-right: 5px;
}
.info_hr{
    margin-bottom: 60px;
    height: 2px !important;
    background: #AAAAAA;
}
.product_buttons{
    clear: both;
}
.product_total_price{
    clear: both;
    margin-bottom: 50px;
}
.product_total_price span{
    position: absolute;
    right: 5px;
    color: #c80a1e;
}
.buy_button{
    display: block;
    width: 100%;
    height: 50px;
    top: 447px;
    left: 750px;
    margin: 97px auto 15px auto;

}
.cart_button{
    display: block;
    width: 100%;
    height: 50px;
    top: 447px;
    left: 750px;
    margin: 0px auto 15px auto;
}
.like_button{
    position: absolute;
    right: 5px;
}
.share_button{
    position: absolute;
    right: 70px;
}
.review-box > div{
    height: 200px;
}
.review-box img{
    width: 200px;
    margin: 0 0 0 30px;
    height: 180px;
}
.review-detail span{
    font-size: 14px;
    color: #525252;
    margin-left: 33px;
}
.star-wrapper{
    margin-bottom: 10px;
}

.review-detail a{
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 110px;
    height: 30px;
    top: 20px;
    left: 54px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: solid 1px #AAAAAA;
    text-decoration: none;
    color: black;
    font-size: 13px;
    align-items: center;
    cursor: pointer;
}

.review-detail a:hover{
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 110px;
    height: 30px;
    top: 20px;
    left: 54px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: solid 1px #AAAAAA;
    text-decoration: none;
    color: white;
    font-size: 13px;
    align-items: center;
    background: black;
    cursor:pointer;
}
